name: NPM install

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2.4.1
        with:
          node-version: "16.x"
      - name: Install dependencies
        run: npm install
      - name: Commit and push changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: github-actions[bot]
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "run install"
