name: PR Commenter

on:
  issues:
    types:
    - labeled
    - unlabeled
  pull_request:
    types:
    - labeled
    - unlabeled

jobs:
  give_comment:
    if: startsWith(github.head_ref, 'dependabot') == false # Ignore dependabot PRs
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2.3.4
      with:
        ref: main
    - name: Send Pull request comment
      uses: peaceiris/actions-label-commenter@550d10ad28a560c975ff8d26934fb1b7a53a1f83
      with:
        github_token: ${{ secrets.LABEL_COMMENTER }}
