name: PR Commenter

on:
  issues:
    types:
    - labeled
    - unlabeled
  pull_request:
    types:
    - labeled
    - unlabeled
  discussion:
    types:
    - labeled
    - unlabeled

jobs:
  give_comment:
    if: startsWith(github.head_ref, 'dependabot') == false # Ignore dependabot PRs
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2.4.0
      with:
        ref: main
    - name: Send Pull request comment
      uses: peaceiris/actions-label-commenter@v1.10.0
      with:
        github_token: ${{ secrets.LABEL_COMMENTER }}
