name: Format Code and Run Build

on:
  push:
    paths:
      - "**.js"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js 12.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: "12.x"
      - name: Install dependencies
        run: npm ci
      - name: Run build
        run: npm run build
      - name: Update dependencies
        run: npm ci
      - name: Run format
        run: npm run format
      - name: Check code style
        run: npm run format:check
      - name: Commit and push changes
        run: |
          if [[ "$(git status --porcelain)" != "" ]]; then
            echo "$(git status --porcelain)"
            git config user.name github-actions[bot]
            git config user.email 41898282+github-actions[bot]@users.noreply.github.com
            git add .
            git commit -a -m "run build and format"
            git push
          fi
