
name: Update Changelog

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Replace {tba} placeholder
    steps:
    - uses: actions/checkout@v3
    - uses: Readme-Workflows/readme-replacer@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        TEMPLATE_FILE: './CHANGELOG.md'
        COMMIT_FILE: './CHANGELOG.md'
        CUSTOM_REPLACER_FILE: './.github/replacer.json'
